
<div class="container">


    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="text-header">Gestionar usuarios</h5>
          <button class="button" mat-button (click) = "newUser()" >
            <mat-icon>person_add</mat-icon>

          </button>
        </div>

        <div class="card-body">

            <div class="example-container mat-elevation-z8">
                <div class="example-header">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar usuario">
                  </mat-form-field>
                </div>

                <mat-table  [dataSource]="dataSource" #sortUser="matSort" matSort matSortDisableClear>

                  <!-- nombre Column -->
                  <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                  </ng-container>

                  <!-- apellido  Column -->
                  <ng-container matColumnDef="apellido">
                    <mat-header-cell *matHeaderCellDef mat-sort-header > Apellido </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.apellido}} </mat-cell>
                  </ng-container>

                  <!-- email Column -->
                  <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                  </ng-container>

                  <!-- estado Column -->
                  <ng-container matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.estado}} </mat-cell>
                  </ng-container>

                  <!-- Fecha de creacion Column -->
                  <ng-container matColumnDef="fechacreacion" >
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.fechacreacion}} </mat-cell>
                    </ng-container>

                  <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: columnas;"  (click)="consultarUser(row)" class="puntero" ></mat-row>
                </mat-table>

                <mat-paginator #paginatorUser="matPaginator" [pageSize]="5" [pageSizeOptions]="[5, 15, 25]">
                </mat-paginator>
              </div>


        </div>

      </div>

    </div>


    <div class="col-md-12">

      <div class="card"  *ngIf="usuarioTable" >

        <div class="card-header2">
          <h6> Usuario {{usuarioTable.nombre}} </h6>
        </div>

        <div class="card-body" id="consultaruser">


         <form class="example-form" #formuser="ngForm" >

            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput  name="nombre" placeholder="Nombre" (focusout)="prueba(formuser)" [(ngModel)]="usuarioTable.nombre" required>
                </mat-form-field>
              </div>

              <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput name="apellido"  placeholder="Apellido" [(ngModel)]="usuarioTable.apellido" required>
                  </mat-form-field>
              </div>
            </div>

             <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput  name="email" placeholder="Email" [(ngModel)]="usuarioTable.email" required>
                  </mat-form-field>
                </div>

                <div class="col-md-6" *ngIf="!newuser">

                    <mat-slide-toggle [(ngModel)]="usuarioTable.estado"  name="estado">

                        <div *ngIf="usuarioTable.estado">
                            Activo
                        </div>
                        <div *ngIf="!usuarioTable.estado">
                            Inactivo
                        </div>
                    </mat-slide-toggle>

                </div>
              </div>


              <div class="col-md-auto" *ngIf="!newuser">

                  <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Tareas programadas
                          </mat-panel-title>
                          <mat-panel-description>
                            Lista de taras
                          </mat-panel-description>
                        </mat-expansion-panel-header>


                      </mat-expansion-panel>
                    </mat-accordion>

              </div>


               <button class="button margin" mat-button  *ngIf="newuser && formuser.valid" (click) = "addUser()" >
                  <mat-icon>done</mat-icon>
                </button>
                 <button class="button-deleted margin" mat-button  *ngIf="!newuser" (click) = "deletedUser()" >
                    <mat-icon>close</mat-icon>
                  </button>
                <button class="button margin" mat-button   *ngIf="!newuser  && formuser.valid && formuser.touched " (click) = "updatedUser()" >
                    <mat-icon>autorenew</mat-icon>
                  </button>
            </form>

        </div>


      </div>

    </div>

</div>
