<div class="container">
    <div class="row justify-content-md-center">

      <div class="col-md-6">

        <div class="card">

          <div class="card-header">
            <h5>Menu</h5>
          </div>

          <div class="card-body">

               <button class="button"  [routerLink]="['/adminusuarios']" mat-button  >
                 Gestionar usuarios
                  <mat-icon>settings</mat-icon>
                </button>

                <button class="button" [routerLink]="['/admintareas']" mat-button  >
                    Gestionar tareas
                     <mat-icon>settings</mat-icon>
                  </button>

          </div>
        </div>

      </div>
    </div>
</div>
